@using Bagery.Business.Features.ProductImages.Queries.GetProductImageList
@model List<GetProductImageListQueryResult>

@{
    // Verileri Kategori ID'sine göre grupluyoruz.
    // Her grubun ilk elemanýndan Kategori Adýný alýyoruz.
    var galleryGroups = Model
        .GroupBy(x => x.Product.Category.Id) // veya x.Product.CategoryId 
        .Select(g => new
        {
            CategoryId = g.Key,
            // NOT: Eðer Product içinde Category nesnesi yoksa burayý g.First().Product.CategoryName yapýn
            CategoryName = g.First().Product.Category.Name,
            Images = g.ToList()
        })
        .ToList();

    int tabButtonCounter = 0;
    int tabContentCounter = 0;
}

<section class="project-section" style="background-image: url(/Bagery/assets/images/background/gallery-1.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <div class="sec-title">
                        <p>Photo Gallery</p>
                        <h2>Let’s See Our Gallery</h2>
                    </div>
                    <div class="text">
                        <p>Excepteur sint occaecat cupidat non proident sunt in culpa qui officia deserunt mollit anim est laborum. magni dolores eos ratione voluptatem sequi nesciunt.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12 porject-column">
                <div class="project-tab">

                    <div class="tab-btn-box clearfix">
                        <ul class="project-tab-btns project-btn tab-btns clearfix post-filter pull-right">
                            @foreach (var group in galleryGroups)
                            {
                                // Ýlk elemana "active-btn" sýnýfýný veriyoruz
                                var activeClass = tabButtonCounter == 0 ? "active-btn" : "";
                                <li class="p-tab-btn @activeClass" data-tab="#p-tab-@tabButtonCounter">
                                    @group.CategoryName
                                </li>
                                tabButtonCounter++;
                            }
                        </ul>
                    </div>

                    <div class="tabs-content-inner">
                        <div class="p-tabs-content">
                            @foreach (var group in galleryGroups)
                            {
                                // Ýlk içeriðe "active-tab" sýnýfýný veriyoruz
                                var activeClass = tabContentCounter == 0 ? "active-tab" : "";

                                <div class="p-tab @activeClass" id="p-tab-@tabContentCounter">
                                    <div class="project-carousel owl-carousel owl-theme owl-dots-none nav-style-one">

                                        @foreach (var item in group.Images)
                                        {
                                            <div class="project-block-one">
                                                <div class="inner-box">
                                                    <figure class="image-box">
                                                        <img src="@item.ImageUrl" alt="@item.Product.Name">
                                                    </figure>
                                                    <div class="lower-content">
                                                        <div class="view-btn">
                                                            <a href="@item.ImageUrl" class="lightbox-image" data-fancybox="gallery">
                                                                <i class="icon-Zoom"></i>
                                                            </a>
                                                        </div>
                                                        <h3><a href="/Shop/Index">@item.Product.Name</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                                tabContentCounter++;
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>