@using Bagery.Business.Features.Banners.Queries.GetBannerList
@model List<GetBannerListQueryResult>

@{
    int count = 0;
}

<section class="banner-section style-one">
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none nav-style-one">

        @foreach (var item in Model)
        {
            int styleIndex = (count % 3) + 1;
            count++;

            <div class="slide-item">
                <div class="image-layer" style="background-image:url(/Bagery/assets/images/banner/banner-@styleIndex.ToString()@(".jpg"))"></div>

                <div class="anim-icon">
                    @if (styleIndex == 1 || styleIndex == 3)
                    {
                        <div class="icon icon-1" style="background-image: url(/Bagery/assets/images/icons/anim-icon-1.png);"></div>
                        <div class="icon icon-2" style="background-image: url(/Bagery/assets/images/icons/anim-icon-2.png);"></div>
                        <div class="icon icon-3" style="background-image: url(/Bagery/assets/images/icons/anim-icon-3.png);"></div>
                        <div class="icon icon-4" style="background-image: url(/Bagery/assets/images/shape/shape-1.png);"></div>
                        <div class="icon icon-5" style="background-image: url(/Bagery/assets/images/shape/shape-2.png);"></div>
                    }
                    else // styleIndex == 2
                    {
                        <div class="icon icon-4" style="background-image: url(/Bagery/assets/images/shape/shape-1.png);"></div>
                        <div class="icon icon-5" style="background-image: url(/Bagery/assets/images/shape/shape-2.png);"></div>
                        <div class="icon icon-6 rotate-me" style="background-image: url(/Bagery/assets/images/shape/shape-3.png);"></div>
                    }
                </div>

                <div class="auto-container">
                    <div class="content-inner">
                        <div class="content-box">
                            <h1>@item.Title</h1>
                            <p>@item.Description</p>
                            <div class="btn-box">
                                <a href="/Shop/Index" class="banner-btn">Daha Fazlasý Ýçin</a>
                            </div>
                        </div>

                        <figure class="image-box @(styleIndex == 2 ? "style-two" : "style-one")">
                            <img src="@item.ImageUrl" alt="@item.Title">
                        </figure>
                    </div>
                </div>
            </div>
        }

    </div>
</section>